<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BSTDU</title>
  <script type = "text/javascript">
  </script>
</head>
<body>
<div class="container text-center">
  <div>
    <form th:action="@{/logout}" method="post">
      <p>
        Hi!  <b>[[${#request.userPrincipal.principal.fullName}]]</b>
      </p>
      <input type="submit" value="Sign Out" />
    </form>
  </div>

  <div>


    <div align="center">
      <h1>Blood Sugar Tracker Daily Update</h1>
      <form action="#" th:action="@{/add_update}" method="post" th:object="${bst}">
        <label>User Name:</label>
        <input type="text" th:field="*{username}" readonly="readonly"/><br/>

        <label>Blood Sugar Level:</label>
        <input type="text" th:field="*{bloodsugar}" required /><br/>

        <label>Date:</label>
        <input type="date" th:field="*{date}" required /><br/>

        <label>Time:</label>
        <input type="time" th:field="*{time}" required /><br/>


        <label>Period:</label>
        <select th:field="*{period}" list="list" maxlength="50" placeholder="After Dinner" required>

            <option  value="Before Breakfast">Before Breakfast</option>
            <option  value="After Breakfast"> After Breakfast </option>
          <option  value="Before Lunch"> Before Lunch </option>
            <option  value="After Lunch"> After Lunch </option>
            <option  value="Before Dinner"> Before Dinner </option>
          <option  value="After Dinner"> After Dinner </option>

        </select>
       <br/>
        <button type="submit">Add</button>
      </form>
    </div>







<!--    <h3><a th:href="@{/BSTAR}"> Blood Sugar Tracker All Records</a></h3>-->
  </div>
</div>
</body>
</html>