<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Edit Record </title>
</head>
<body>
<div align="center">
    <h1>Edit Record</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${bst}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Record NO:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td>
                    <input type="text" th:field="*{username}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>
                    <input type="date" th:field="*{date}" />
                </td>
            </tr>
            <tr>
                <td>Blood Sugar Level:</td>
                <td>
                    <input type="text" th:field="*{bloodsugar}" />
                </td>
            </tr>
            <tr>
                <td>Time:</td>
                <td><input type="time" th:field="*{time}" /></td>
            </tr>
            <tr>
                <td>Period:</td>
                <td><input type="text" th:field="*{period}" list="list" />
                    <datalist id="list">
                        <option  value="Before Breakfast"/>
                        <option  value="After Breakfast"/>
                        <option  value="Before Lunch"/>
                        <option  value="After Lunch"/>
                        <option  value="Before Dinner"/>
                        <option  value="After Dinner"/>


                    </datalist>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
