<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Possibility Prediction</title>
    <script type = "text/javascript">
    </script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Hi!  <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>

    <div>


        <div align="center">
            <h1> Diabetes Possibility Prediction </h1>
            <form action="#" th:action="@{/Get_Prediction_2}" method="post" th:object="${p2}">
                <table>
                    <tr> <td>   <label>What is your age?</label> </td>
                        <td><input type="number" th:field="*{age}" /><br/> </td></tr>

                    <tr> <td>   <label>What is your gender?</label> </td>
                        <td><input type="radio" th:field="*{gender}" value="1" />Male
                        <input type="radio" th:field="*{gender}" value="0" />Female<br/> </td> </tr>

                    <tr> <td>   <label>Do you have polyuria or do you urinate more than normal?</label> </td>
                    <td> <input type="radio" th:field="*{polyuria}" value="1" />Yes
                        <input type="radio" th:field="*{polyuria}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label>Do you have polydipsia or do you feel extreme thirstiness often?</label> </td>
                    <td>    <input type="radio" th:field="*{polydipsia}" value="1" />Yes
                        <input type="radio" th:field="*{polydipsia}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label>Do you have sudden weight loss recently?</label> </td>
                    <td> <input type="radio" th:field="*{weight_loss}" value="1" />Yes
                    <input type="radio" th:field="*{weight_loss}" value="0" />No<br/> </td> </tr>

                    <tr> <td> <label> Do you feel more weaknesses without any sickness?</label> </td>
                    <td><input type="radio" th:field="*{weakness}" value="1" />Yes
                    <input type="radio" th:field="*{weakness}" value="0" />No<br/> </td> </tr>

                    <tr> <td>    <label> Do you have polyphagia or do you often feel hungry and often eat a lot?</label> </td>
                    <td><input type="radio" th:field="*{polyphagia}" value="1" />Yes
                    <input type="radio" th:field="*{polyphagia}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do you have genital thrush?</label> </td>
                    <td><input type="radio" th:field="*{genital_thrush}" value="1" />Yes
                    <input type="radio" th:field="*{genital_thrush}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do you have visual blurring or do you have any other vision problem?</label> </td>
                        <td><input type="radio" th:field="*{visual_blurring}" value="1" />Yes
                            <input type="radio" th:field="*{visual_blurring}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label>Do you feel itching in your body?</label> </td>
                        <td><input type="radio" th:field="*{itching}" value="1" />Yes
                            <input type="radio" th:field="*{itching}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do you feel irritability or do you feel stressed often?</label> </td>
                        <td><input type="radio" th:field="*{irritability}" value="1" />Yes
                            <input type="radio" th:field="*{irritability}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label>Was there any wound in your body that delayed healing or take long time to heal?</label> </td>
                        <td><input type="radio" th:field="*{delayed_healing}" value="1" />Yes
                            <input type="radio" th:field="*{delayed_healing}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do you have partial paresis or do you any weakness in muscle movement?</label> </td>
                        <td><input type="radio" th:field="*{partial_paresis}" value="1" />Yes
                            <input type="radio" th:field="*{partial_paresis}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label>Do you have muscle stiffness or do you feel your muscles are tight often?</label> </td>
                        <td><input type="radio" th:field="*{muscle_stiffness}" value="1" />Yes
                            <input type="radio" th:field="*{muscle_stiffness}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do you have alopecia or does your hair fall out in patches?</label> </td>
                        <td><input type="radio" th:field="*{alopecia}" value="1" />Yes
                            <input type="radio" th:field="*{alopecia}" value="0" />No<br/> </td> </tr>

                    <tr> <td>   <label> Do your BMI level is greater than or equal to 30?</label> </td>
                        <td><input type="radio" th:field="*{obesity}" value="1" />Yes
                            <input type="radio" th:field="*{obesity}" value="0" />No<br/> </td> </tr>



                </table>
                <br/>

                <button type="submit"> Get Prediction </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>