<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Body Weight Tracker All Records</title>
</head>
<body>
<div align="center">
    <h1>Body Weight Tracker All Records</h1>
    <br/><br/>
    <h3>Average Body Weight = <span th:text="${avg}"></span></h3>
    <br/><br/>


    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Date</th>
            <th>Weight(kg)</th>
            <th>Height(m):</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wt : ${listWT}">

            <td th:text="${wt.date}">Date</td>
            <td th:text="${wt.weight}">Weight</td>
            <td th:text="${wt.height}">Height</td>

            <td>
                <a th:href="@{'/wedit/' + ${wt.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/wdelete/' + ${wt.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:if="${currentPage > 1}" th:href="@{'/wpage/1'}">First</a>
    <span th:unless="${currentPage > 1}">First</span>
    <a th:if="${currentPage > 1}" th:href="@{'/wpage/' + ${currentPage - 1}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span>
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/wpage/' + ${i}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
</span>
    <a th:if="${currentPage < totalPages}" th:href="@{'/wpage/' + ${currentPage + 1}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span>
    <a th:if="${currentPage < totalPages}" th:href="@{'/wpage/' + ${totalPages}}">Last</a>
    <span th:unless="${currentPage < totalPages}">Last</span>
    <br/>

    <h3><a th:href="@{/WTDU}"> Body Weight Tracker Add Update</a></h3>

    <br/> <br/>
    <button><a th:href="@{/WT_pdf}">Export Body Weight Tracker All Records to PDF</a></button>


</div>
</body>
</html>